@charset "UTF-8";
body {
  /*header内*main画像込み*/
}

body header .main_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .main_top .logo {
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
}

body header .main_top .logo img {
  padding-bottom: 20px;
}

body header .main_top .logo p {
  margin-top: -34px;
  font-size: 0.5rem;
  color: #a0a289;
}

body header .main_top h1 {
  font-size: 4vw;
  margin: 0 auto;
  color: #080808;
  text-align: center;
}

body header .main_top h1 p {
  font-size: 2vw;
}

body header .main_top .tel {
  text-align: right;
}

body header nav {
  height: 25px;
  margin: 0 auto;
}

body header nav ul {
  text-align: center;
  font-size: 16px;
  margin: 0 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav ul li {
  width: 100vw;
  border-left: 1px solid #565656;
}

body header nav ul li a {
  text-decoration: none;
  color: #565656;
  list-style: none;
}

body header nav li:nth-child(5) {
  border-right: 1px solid #565656;
}

.main {
  overflow: hidden;
  width: 100vw;
  height: 500px;
}

.main img {
  width: 100%;
  margin: -68% auto;
}

/*header内main画像込み*/
/*コンテンツ1(PICK_UP)*/
.pickup {
  width: 100vw;
  margin-bottom: 50px;
}

.pickup .pickup_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pickup .pickup_box .pickup_box_sub {
  width: 250px;
  height: 350px;
  border: 1px solid #565656;
  overflow: hidden;
  margin: 3rem 0.3rem;
  text-align: center;
}

.pickup .pickup_box img {
  width: 250px;
  height: 250px;
  margin-bottom: -7px;
}

.pickup .pickup_box .pickup_title {
  margin: 10px auto;
  font-size: 20px;
}

/*コンテンツ1(PICK_UP)*/
/*コンテンツ2(食べる・楽しむ)*/
.food_enjoy {
  color: #fff;
  background-color: #000;
}

.food_enjoy .contents {
  height: 610px;
  overflow: hidden;
  background-image: url(../img/egg.jpg);
  background-size: 100%;
  position: relative;
}

.food_enjoy .contents .food_enjoy_title {
  position: absolute;
  right: 0;
  left: 0;
}

.food_enjoy .contents .food_enjoy_box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  position: absolute;
  width: 80vw;
  height: 327px;
  margin: 0 10%;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.food_enjoy .contents .food_enjoy_box1 .food_enjoy_img {
  width: 351px;
  height: 327px;
  overflow: hidden;
}

.food_enjoy .contents .food_enjoy_box1 .food_enjoy_img img {
  width: 100%;
  height: 100%;
}

.food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 {
  text-align: left;
  margin: 0 30px;
}

.food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 p {
  width: 100%;
}

.food_enjoy .contents::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.food_enjoy .food_enjoy_box2 {
  background-image: url(../img/youtube_img.png);
  background-size: cover;
  background-position-y: -1em;
  height: 400px;
  position: relative;
  color: #000;
}

.food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 {
  position: absolute;
  text-align: left;
  width: 80vw;
  height: 298px;
  margin: 0 10%;
  bottom: 30px;
  bottom: 3em;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 h3 {
  margin-left: -44%;
  margin-top: 22px;
}

.food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 p {
  width: 50%;
  margin-left: 4%;
}

.food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .reservation {
  margin-left: 13%;
}

.food_enjoy .food_enjoy_box2 .food_enjoy_img2 {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 250px;
  top: 0;
  right: -6px;
  margin: 1.5rem;
}

.food_enjoy .food_enjoy_box2 .food_enjoy_img2 iframe {
  width: 294px;
  height: 280px;
}

.food_enjoy .food_enjoy_box2::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*コンテンツ2(食べる・楽しむ)*/
/*コンテンツ3(お家でアロハ)*/
.home_aloha {
  text-align: center;
  color: #000;
  height: 677px;
}

.home_aloha p {
  padding-top: 32px;
}

.home_aloha_img {
  position: relative;
  width: auto;
  height: 258px;
  overflow: hidden;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.home_aloha_img img {
  width: 35%;
  /*
                height: 258px;
                
                margin-left: -4px;
                */
}

.home_aloha_img .buy {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*コンテンツ3(お家でアロハ)*/
/*コンテンツ4(当店のこだわり)*/
.shop {
  width: 100vw;
  height: 670px;
  overflow: hidden;
  background-image: url(../img/sea1.jpg);
  background-position: 20% 75%;
  background-size: 120%;
  position: relative;
}

.shop .sankaku2 {
  position: absolute;
}

.shop .shop_box {
  position: absolute;
  top: 345px;
  margin-left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  color: #fff;
}

.shop .shop_box .shop_content {
  height: 200px;
}

.shop .shop_box .shop_content .shop_img {
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 8px;
}

.shop .shop_box .shop_content .shop_img img {
  width: 100%;
  height: 100%;
}

.shop .shop_box .shop_content p {
  width: 591px;
  text-align: left;
}

.shop::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*コンテンツ4(当店のこだわり)*/
/*コンテンツ5(新着情報)*/
.news {
  color: #000;
  height: 529px;
}

.news table {
  margin: 69px auto 0;
  border-top: #000 2px solid;
  border-bottom: #000 2px solid;
}

.news table tr {
  border-bottom: #9c9c9c 1px solid;
}

.news table tr th {
  padding-right: 5px;
}

.news table tr td {
  padding-left: 5px;
}

.table_sp {
  display: revert;
}

/*コンテンツ5(新着情報)*/
/*コンテンツ6(会社概要)*/
.company_profile {
  width: 100vw;
  height: 634px;
  overflow: hidden;
  background-image: url(../img/sea2.jpg);
  background-position: 20% 75%;
  position: relative;
}

.company_profile .sankaku2 {
  position: absolute;
}

.company_profile .company_profile_box {
  position: absolute;
  top: 429px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
  color: #fff;
}

.company_profile .company_profile_box .company_profile_contens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 600px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
}

.company_profile .company_profile_box .company_profile_contens .company_profile_tel {
  width: 300px;
  height: 300px;
  padding: 1em;
}

.company_profile .company_profile_box .company_profile_contens .company_profile_map {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.company_profile::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*コンテンツ6(会社概要)*/
/*コンテンツ7(お問い合わせフォーム)*/
.contact {
  width: 100vw;
  height: 575px;
  overflow: hidden;
  background-image: url(../img/sea3.jpg);
  background-size: 100%;
  background-position: 0 26%;
  color: #fff;
}

.contact .form {
  width: 600px;
  height: 300px;
  margin: 75px auto;
  position: relative;
  display: block;
  padding: 1em;
  border: 1px solid #fff;
}

.contact .form table {
  display: block;
  position: absolute;
  height: 200px;
}

.contact .form table .form_box {
  color: #000;
  width: 500px;
  padding-bottom: 10px;
  display: table;
  text-align: left;
}

.contact .form table .form_box .form_item {
  width: 30%;
  padding-right: 3em;
}

.contact .form table .form_box .form_input {
  width: 70%;
  height: 20px;
  background-color: #fff;
  border: 1px solid #565656;
  border-radius: 3px;
}

.contact .form table .form_box .form_input input {
  border: none;
  width: 100%;
  height: 100%;
}

.contact .form .form_bt {
  position: absolute;
  top: 77%;
  left: 29%;
}

.contact .form .form_bt .bt {
  width: 173px;
}

.contact .form::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

/*コンテンツ7(お問い合わせフォーム)*/
footer {
  height: 60px;
  background-color: #565656;
  font-size: 12px;
  color: #fff;
}

footer .footer_logo {
  width: 30px;
  height: 0px;
}

footer .footer_logo img {
  width: 50px;
  height: 50px;
  margin-top: 6px;
  margin-left: 2px;
}

footer nav {
  margin-bottom: 5px;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

footer nav ul li {
  margin: 5px 10px 0px;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

footer p {
  text-align: center;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
}

h2 {
  font-family: 'Noto Serif JP', serif;
  margin: 1rem auto -22px;
  text-align: center;
  font-size: 4rem;
}

h3 {
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  font-size: 27px;
}

.img_sp {
  display: none;
}

.sankaku {
  width: 100vw;
  height: 100px;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.sankaku img {
  margin: 31px auto;
  display: block;
}

.sankaku2 {
  width: 100vw;
  height: 100px;
  margin-top: 4em;
  margin-bottom: 3em;
  color: #fff;
}

.sankaku2 img {
  margin: 31px auto;
  display: block;
}

.reservation {
  display: block;
  text-align: center;
  margin: 30px auto;
  width: 300px;
  height: 50px;
  background-color: #fff;
  border: #565656 2px solid;
  border-radius: 5px;
  padding-top: 10px;
  text-decoration: none;
  color: #565656;
}

.reservation:hover {
  color: #c7af00;
}

.reservation2 {
  display: block;
  text-align: center;
  margin: 30px auto;
  width: 210px;
  height: 50px;
  background-color: #fff;
  border: #565656 2px solid;
  border-radius: 5px;
  padding-top: 10px;
  text-decoration: none;
  color: #565656;
}

.reservation2:hover {
  color: #c7af00;
}

.buy_bt {
  display: block;
  text-align: center;
  margin: 7em auto;
  width: 210px;
  height: 50px;
  background-color: #fff;
  border: #565656 2px solid;
  border-radius: 5px;
  padding-top: 10px;
  text-decoration: none;
  color: #565656;
}

.buy_bt:hover {
  color: #c7af00;
}

tr {
  margin: 10px;
}

.break_sp_2 {
  display: none;
}

.break_sp3 {
  display: inline;
}

.break_sp4 {
  display: none;
}

.break_sp5 {
  display: none;
}

li a:hover {
  color: #b76e00;
}

nav li::before {
  content: "";
}

/*=======================937から===============================*/
@media print, screen and (min-width: 938px) {
  br.break_sp_2 {
    display: none;
  }
  br.break_pc_2 {
    display: inline;
  }
}

@media screen and (max-width: 937px) {
  body {
    /*コンテンツ1(PICK_UP)*/
    /*コンテンツ1(PICK_UP)*/
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ7(お問い合わせフォーム)*/
    /*コンテンツ7(お問い合わせフォーム)*/
  }
  body header .main_top .logo {
    margin-left: 5px;
    margin-top: 3px;
  }
  body header .main_top .logo img {
    width: 4rem;
  }
  body header .main_top h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  body header .main_top .tel p {
    margin-top: 0;
    font-size: 0.8rem;
  }
  body header nav {
    height: auto;
  }
  body .pickup .pickup_box .pickup_box_sub {
    height: 284px;
    margin: 1rem 0.3rem;
  }
  body .pickup .pickup_box .pickup_box_sub p {
    font-size: 15px;
  }
  body .pickup .pickup_box .pickup_box_sub p .pickup_title {
    font-size: 19px;
  }
  body .pickup .pickup_box img {
    height: 190px;
  }
  body .food_enjoy .contents {
    height: 579px;
  }
  body .food_enjoy .contents .food_enjoy_box1 {
    width: 90vw;
    margin: 0 5%;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_img img {
    width: 126%;
  }
  body .food_enjoy .food_enjoy_box2 {
    height: 420px;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 {
    width: 90vw;
    height: 329px;
    margin: 0 5%;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 h3 {
    margin-left: -40%;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_img2 {
    width: 237px;
    height: 211px;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .reservation {
    margin-left: 9%;
  }
  body .home_aloha {
    height: 595px;
  }
  body .home_aloha .home_aloha_img {
    height: 179px;
    /*
            img{
                width: 100%;
                height: 100%;
            }*/
  }
  body .home_aloha .buy_bt {
    margin: 2em auto;
  }
  body .company_profile {
    height: 581px;
  }
  body .company_profile .company_profile_box {
    top: 392px;
  }
  body .contact {
    background-size: 132%;
    height: 558px;
  }
  body .contact .form {
    margin: 0 auto;
  }
  .break_sp4 {
    display: none;
  }
  h2 {
    font-size: 3rem;
  }
  .table_sp {
    display: revert;
  }
}

/*=======================937まで===============================*/
/*=======================795から===============================*/
@media screen and (max-width: 795px) {
  body {
    /*コンテンツ1(PICK_UP)*/
    /*コンテンツ1(PICK_UP)*/
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ4(当店のこだわり)*/
    /*コンテンツ4(当店のこだわり)*/
    /*コンテンツ5(新着情報)*/
    /*コンテンツ5(新着情報)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ7(お問い合わせフォーム)*/
    /*コンテンツ7(お問い合わせフォーム)*/
  }
  body header .main_top h1 {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
  body header nav ul {
    font-size: 14px;
    width: 87vw;
  }
  body .main {
    height: 12rem;
  }
  body .pickup .pickup_box .pickup_box_sub {
    width: 15rem;
    height: 18rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  body .pickup .pickup_box .pickup_box_sub p {
    font-size: 13px;
    margin-top: 9%;
  }
  body .pickup .pickup_box .pickup_box_sub p .pickup_title {
    font-size: 15px;
  }
  body .food_enjoy .contents {
    height: 616px;
  }
  body .food_enjoy .contents .food_enjoy_box1 {
    width: 90vw;
    height: 430px;
    margin: 6px 5%;
    top: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_img {
    width: auto;
    height: auto;
    margin-top: 0rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_img img {
    width: 50%;
    /*
                        margin-left: -5px;
                        */
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 h3 {
    margin: 1rem 0;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 p {
    margin: 1rem 5px;
    width: auto;
    height: 29px;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 .reservation {
    margin-top: 71px;
    margin-left: 22%;
    margin-right: 50%;
  }
  body .food_enjoy .food_enjoy_box2 {
    background-size: 140%;
  }
  body .home_aloha {
    height: 545px;
    /*
        .home_aloha_img{
            
            img{
                margin-left: -17px;
            }
            
        }*/
  }
  body .home_aloha p {
    padding-top: 0px;
  }
  body .shop {
    height: 540px;
  }
  body .shop .shop_box {
    top: 251px;
  }
  body .news {
    height: 472px;
  }
  body .news table {
    margin: 0px auto;
  }
  body .company_profile {
    height: 481px;
  }
  body .company_profile .company_profile_box {
    top: 291px;
  }
  body .contact {
    height: 474px;
  }
  h2 {
    margin: 0rem auto -22px;
    font-size: 2rem;
  }
  .sankaku {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .sankaku2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  .table_sp {
    display: none;
  }
  .break_sp4 {
    display: inline;
  }
}

.break_sp_2 {
  display: inline;
}

.img_sp {
  display: block;
}

/*=======================795まで===============================*/
/*=======================695から===============================*/
@media screen and (max-width: 695px) {
  body {
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ4(当店のこだわり)*/
    /*コンテンツ4(当店のこだわり)*/
    /*コンテンツ5(新着情報)*/
    /*コンテンツ5(新着情報)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ7(お問い合わせフォーム)*/
    /*コンテンツ7(お問い合わせフォーム)*/
  }
  body header nav ul {
    font-size: 12px;
    width: 93vw;
    margin: 0px 4%;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 .reservation {
    margin-top: 85px;
    margin-left: 23%;
  }
  body .food_enjoy .food_enjoy_box2 {
    height: 624px;
    background-size: 120%;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 {
    top: 1rem;
    width: 90vw;
    height: 570px;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 h3 {
    margin-top: 15rem;
    margin-left: 0;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 p {
    margin: 0 5px;
    width: 87vw;
    height: auto;
    margin-left: 8%;
    padding-right: 13%;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 .reservation {
    margin-left: 27%;
    margin-top: 10%;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_img2 {
    position: absolute;
    overflow: hidden;
    width: 94%;
    height: 13rem;
    top: 0;
    right: 0;
    margin: 1rem;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_img2 iframe {
    width: 100%;
    height: 100%;
  }
  body .home_aloha {
    height: 539px;
    /*
            .home_aloha_img{
                img{
                    margin-left: -39px;
                }
            }*/
  }
  body .shop {
    height: 450px;
  }
  body .shop .shop_box .shop_content .shop_img {
    width: 210px;
    height: 140px;
  }
  body .shop .shop_box .shop_content p {
    width: 421px;
  }
  body .news table {
    width: 29rem;
  }
  body .company_profile .company_profile_box .company_profile_contens {
    width: 490px;
  }
  body .contact {
    background-size: 173%;
  }
  body .contact .form {
    width: 492px;
  }
  body .contact .form table .form_box {
    width: 426px;
  }
  body .contact .form table .form_box .form_item {
    width: 23%;
  }
  body .contact .form table .form_box .form_input {
    width: 60%;
  }
  .break_sp3 {
    display: none;
  }
}

/*=======================502から===============================*/
/*
@media print, screen and (min-width: 503px){
    
    br{
        &.break_sp{
            display: none;
        }
        &.break_pc{
            display: inline;
        }
    }
}
*/
@media only screen and (max-width: 502px) {
  body {
    /*コンテンツ1(PICK_UP)*/
    /*コンテンツ1(PICK_UP)*/
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ2(食べる・楽しむ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ3(お家でアロハ)*/
    /*コンテンツ4(当店のこだわり)*/
    /*コンテンツ4(当店のこだわり)*/
    /*コンテンツ5(新着情報)*/
    /*コンテンツ5(新着情報)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ6(会社概要)*/
    /*コンテンツ7(お問い合わせフォーム)*/
    /*コンテンツ7(お問い合わせフォーム)*/
  }
  body header .main_top .logo {
    width: 3rem;
    margin: 3px;
  }
  body header .main_top .logo img {
    width: 3rem;
  }
  body header .main_top .logo p {
    margin-top: -27px;
    margin-left: -12px;
    width: 5rem;
  }
  body header .main_top h1 {
    font-size: 24px;
    margin-top: 1px;
  }
  body header .main_top h1 p {
    margin-top: 1px;
    font-size: 15px;
  }
  body header .main_top .tel {
    display: none;
  }
  body header nav {
    display: none;
  }
  body .main {
    height: auto;
  }
  body .main img {
    margin: -158px auto;
  }
  body .pickup .pickup_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -15px;
  }
  body .pickup .pickup_box .pickup_box_sub {
    width: 83vw;
    height: 20rem;
    margin: 0 auto 13px;
  }
  body .pickup .pickup_box .pickup_box_sub img {
    width: 100%;
    height: 12rem;
  }
  body .pickup .pickup_box .pickup_box_sub p {
    font-size: 1.2rem;
  }
  body .pickup .pickup_box .pickup_box_sub p .pickup_title {
    font-size: large;
  }
  body .food_enjoy .contents {
    height: 544px;
  }
  body .food_enjoy .contents .food_enjoy_box1 {
    width: 90vw;
    height: 430px;
    margin: 6px 5%;
    top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_img {
    width: auto;
    height: auto;
    margin-top: 2rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_img img {
    height: auto;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 h3 {
    margin: 1rem 0;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 p {
    font-size: 1.2rem;
    margin: 1rem 5px;
    width: auto;
    height: 29px;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 .reservation {
    margin-top: 128px;
    margin-left: 15%;
    margin-right: 50%;
  }
  body .food_enjoy .food_enjoy_box2 {
    height: 624px;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 {
    top: 1rem;
    width: 90vw;
    height: 570px;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 h3 {
    margin-top: 15rem;
    margin-left: 0;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 p {
    font-size: 1.2rem;
    width: 87vw;
    height: auto;
    margin: 0px 9%;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_box2-2 .reservation {
    margin-left: 23%;
    margin-top: 10%;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_img2 {
    position: absolute;
    overflow: hidden;
    width: 83vw;
    height: 13rem;
    top: 0;
    right: 0;
    margin: 1rem;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_img2 iframe {
    width: 100%;
    height: 100%;
  }
  body .home_aloha {
    height: 469px;
  }
  body .home_aloha p {
    margin-top: -3px;
  }
  body .home_aloha .home_aloha_img {
    margin-top: 0;
    /*
            img{
                height: 7rem;
                margin-left: 0px;
            }*/
  }
  body .home_aloha .buy_bt {
    margin: 4em auto;
    width: 51vw;
    height: 31px;
    padding-top: 0;
  }
  body .shop {
    height: 395px;
    background-size: 200%;
  }
  body .shop .sankaku2 {
    position: absolute;
  }
  body .shop .shop_box {
    left: 0;
    margin-left: 10%;
    width: 10vw;
    top: 352px;
  }
  body .shop .shop_box .shop_content {
    margin-left: 0;
    margin-top: -276px;
  }
  body .shop .shop_box .shop_content .shop_img {
    width: 39vw;
    height: 112px;
  }
  body .shop .shop_box .shop_content p {
    width: 88vw;
  }
  body .news {
    height: 522px;
  }
  body .news table {
    width: 23rem;
    margin-top: -14px;
  }
  body .news table tr th, body .news table tr td {
    display: block;
    margin: 0;
  }
  body .news table tr th p, body .news table tr td p {
    display: inline-block;
    border-bottom: 3px double #000;
  }
  body .table_sp {
    display: none;
  }
  body .company_profile {
    height: 35rem;
  }
  body .company_profile .company_profile_box {
    top: 19rem;
  }
  body .company_profile .company_profile_box .company_profile_contens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
    height: auto;
  }
  body .company_profile .company_profile_box .company_profile_contens .company_profile_tel {
    margin: auto;
    text-align: center;
    padding: 0;
    height: auto;
  }
  body .company_profile .company_profile_box .company_profile_contens .company_profile_map {
    width: auto;
    height: 180px;
  }
  body .contact {
    height: 469px;
    background-size: 200%;
    background-position: 24% 32%;
  }
  body .contact .form {
    width: 80vw;
    height: 360px;
    top: -3rem;
    padding: 0;
  }
  body .contact .form table .form_box {
    width: 74vw;
  }
  body .contact .form table .form_box .form_item {
    width: 5rem;
    padding-right: 0;
  }
  body .contact .form table .form_box .form_input {
    width: auto;
  }
  body .contact .form table .form_box:nth-child(5) {
    height: 5rem;
    vertical-align: top;
  }
  body .contact .form table .form_box:nth-child(5) .form_placeholder {
    padding-bottom: 4rem;
    height: 5rem;
  }
  body .contact .form .form_bt {
    top: 79%;
  }
  body h2 {
    font-size: 24px;
  }
  body .sankaku {
    height: auto;
  }
  body .sankaku img {
    margin: 1.7rem auto;
    width: 5rem;
    height: 12px;
  }
  body .sankaku2 {
    height: auto;
    position: absolute;
  }
  body .sankaku2 img {
    margin: 1.7rem auto;
    width: 5rem;
    height: 12px;
  }
  body h3 {
    font-size: 1.4rem;
    margin: 0;
  }
  body .reservation {
    width: 51vw;
    height: 31px;
    margin: 0 -20%;
    padding-top: 0px;
    display: inline-block;
  }
  body .reservation2 {
    height: auto;
    padding-top: 0;
  }
  body br.break_sp {
    display: inline;
  }
  body br.break_pc {
    display: none;
  }
  body .break_sp3 {
    display: none;
  }
  body .img_sp {
    display: block;
  }
  /*footer*/
  footer {
    height: 10rem;
  }
  footer .footer_logo img {
    width: 122px;
    height: 110px;
    margin-top: 21px;
  }
  footer nav {
    text-align: center;
  }
  footer nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*footer*/
}

/*=======================502まで===============================*/
/*=======================410から===============================*/
@media only screen and (max-width: 410px) {
  body {
    /*
        .home_aloha {
            .home_aloha_img{
                img{
                    margin-left: -20px;
                }
            }

        }  
*/
  }
  body header .main_top h1 p {
    font-size: 13px;
  }
  body .food_enjoy .contents {
    height: 554px;
  }
  body .food_enjoy .contents .food_enjoy_box1 {
    height: 448px;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_box1_1 .reservation {
    margin-top: 172px;
  }
  body .food_enjoy .contents .food_enjoy_box1 .food_enjoy_img {
    margin-top: 1rem;
  }
  body .food_enjoy .food_enjoy_box2 {
    height: 635px;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 {
    height: 594px;
  }
  body .food_enjoy .food_enjoy_box2 .food_enjoy_box2-1 .food_enjoy_img2 {
    width: 82vw;
  }
  body .shop {
    height: 436px;
  }
  body .news {
    height: 592px;
  }
  body .news table {
    width: 14rem;
  }
  body .company_profile {
    height: 36rem;
  }
  body .company_profile .company_profile_box {
    top: 20rem;
  }
  body .company_profile .company_profile_box .company_profile_contens .company_profile_tel {
    width: 9rem;
    display: inline;
  }
  body .company_profile .company_profile_box .company_profile_contens .company_profile_tel .reservation2 {
    margin-left: -22%;
  }
  body .contact {
    background-size: 238%;
  }
  body .contact .form {
    top: -1rem;
  }
  body .contact .form .form_bt {
    left: 18%;
  }
  .break_sp5 {
    display: inline;
  }
}

/*=======================410まで===============================*/
/*# sourceMappingURL=style.css.map */
