<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Castoro&family=Noto+Sans+JP:wght@100;300&family=Noto+Serif+JP:wght@300;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Castoro&family=Noto+Sans+JP:wght@100;300&family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet">
<title>AlOHAing株式会社</title>
</head>
    <body>
        <header>
            <div class="main_top">
                <div class="logo">
                    
                     <img src="../img/a'ala_logo.png" alt="ALOHA a'alaロゴ">
                     <p>ハワイアンズ<br>レストラン</p>
                </div>
                
                <h1>ハワイ感充実！レッツアロハ!<br>
                    <p>〜ハワイの香りと味をお楽しみください〜</p>
                </h1>
                
                <div class="tel">
                    お問合せ：000-0000-0000<br>
                    営業時間：9:00〜23:00
                </div>
            </div>
             <nav>
                <ul>
                    <li><a href="#food_enjoy">食べる・楽しむ</a></li>
                    <li><a href="#home_aloha">お家でアロハ</a></li>
                    <li><a href="#shop">当店のこだわり</a></li>
                    <li><a href="#news">新着情報</a></li>
                    <li><a href="#company_profile">会社概要</a></li> 
                </ul>
            </nav> 
        </header>
        <div class="main">
            <img src="../img/shop.jpg" alt="ショップの雰囲気" loding="lazy">
        </div>
        <!--コンテンツ１(PICK UP)ここから-->
        <div class="pickup">
            <div class="sankaku">
                <h2>PICK UP</h2>
                <img src="../img/yajirusi_1.png" alt="矢印" loding="lazy">
            </div>
            <div class="pickup_box">
                <div class="pickup_box_sub">
                    <img src="../img/egg.jpg" alt="エッグベネディクト" loding="lazy">
                    <p><span class="pickup_title">~エッグベネディクト~</span><br>
                        ハワイアン風に仕立てた<br>エッグベネディクト。
                    </p>
                </div>
                <div class="pickup_box_sub">
                    <img src="../img/after.jpg" alt="アフタヌーンティー" loding="lazy">
                    <p><span class="pickup_title">~アフタヌーンティー~</span><br>
                        当店オリジナルの<br>紅茶と一緒にお楽しみください。
                    </p>
                </div>
                <div class="pickup_box_sub"
                    ><img src="../img/pan.jpg" alt="パンケーキ" loding="lazy">
                    <p><span class="pickup_title">~デザート~</span><br>
                        フルーツたくさんの<br>パンケーキはいかがですか。
                    </p>
                </div>
            </div> 
        </div>
        <!--コンテンツ１(PICK UP)ここまで-->

        <!--コンテンツ２(食べる・楽しむ)ここから-->
        <div id="food_enjoy" class="food_enjoy">
            <div class="contents">
                <div class="food_enjoy_title">
                    <div class="sankaku">
                        <h2>食べる・楽しむ</h2>
                        <img src="../img/yajirusi_2.png" alt="矢印" loding="lazy">
                    </div>
                </div>
                <div class="food_enjoy_box1">
                    <div class="food_enjoy_img">
                        <img src="../img/egg.jpg" alt="エッグベネディクト" loding="lazy">
                    </div>
                    <div class="food_enjoy_box1_1">
                        <h3>ランチ・ディナー・デザート</h3>
                        <p>ハワイの1日の味を存分に楽しめる食事をお楽しみいただけます。<br>
                            コースメニューなどもご用意していますので、お気軽にご予約・
                            お問い合わせください。</p>
                        <a class="reservation" href="/">
                            メニューを見る
                        </a>
                    </div>
                </div>
            </div>
            <div class="food_enjoy_box2">
                    <div class="food_enjoy_box2-1">
                        <h3>レッツ！アロハ！</h3>
                        <p>当店ではハワイの雰囲気を存分に楽しんでいただきたく
                            ハワイのショーなどを定期的に開催。
                            キャストと一緒に参加できるショーもご用意していますので,
                            ぜひご参加
                            お待ちしております。
                            一部様子をyoutubeでも配信しています。
                        </p>
                        <a class="reservation" href="/">イベントスケジュール</a>
                    </div> 
                    <div class="food_enjoy_img2">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YzE2dUrsBgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
        <!--コンテンツ２(食べる・楽しむ)ここまで-->

        <!--コンテンツ3(お家でアロハ)ここから-->
        <div id="home_aloha" class="home_aloha">
            <div>
                <div class="sankaku">
                    <h2>お家でアロハ</h2>
                    <img src="../img/yajirusi_1.png" alt="矢印" loding="lazy">
                </div>
            <p>当店でハワイの気分を満喫した後は、おうちでも気分を味わいませんか。<br>
                実際にハワイで販売している商品を多数取り揃えてます。<br>
                当店で購入できます。また、ネットで購入もできます。<br>
                ぜひお家でもハワイの気分を楽しんでください。</p>
            
            </div>
           
            <div class="home_aloha_img">
                <img src="../img/shirt.jpg" alt="アロハシャツ" loding="lazy">
                
                <img src="../img/ukurere.jpg" alt="ウクレレ" loding="lazy">
                
                <img src="../img/monstera.jpg" alt="モンステラ" loding="lazy">
                <div class="buy">
                    <a class="buy_bt" href="/">
                        商品を見に行く
                    </a>
                </div>
            </div>
            
            
            
           
        </div>
        
        <!--コンテンツ3(お家でアロハ)ここまで-->

        <!--コンテンツ4(当店のこだわり)ここから-->
        <div id="shop" class="shop">
            <div class="shop_box">
                <div class="sankaku">
                    <h2>当店のこだわり</h2>
                    <img src="../img/yajirusi_2.png" alt="矢印" loding="lazy">
                </div>
                <div class="shop_content">
                    <div class="shop_img">
                        <img src="../img/shop2.jpg" alt="">
                    </div>
                    <p>ハワイをこよなく愛するオーナーが、独自で日本にも身近に楽しめる場所を
                    提供できないかを考え抜いてオープンしました。<br>
                    現地の食べ物をそのまま生かして、料理を提供しているので存分に味わうことができます。<br>
                    また、定期的にゲスト参加型のイベントを多数用意しているので、
                    みなさんもぜひ当店でお楽しみいただき、ハワイのよさを共感できると嬉しいです。<br>
                    text text text text text text text text text text text text text text text text text texttext text text text text text text text text text text text text text text text text texttext text text text text text text text text text text text text text text text text texttext text text text text text text text text text text text text text text text text text
                     </p>
                    
                </div>
            </div>
        </div>
        <!--コンテンツ4(当店のこだわり)ここから-->

        <!--コンテンツ5(新着情報)ここから-->
        <div id="news" class="news">
            <div class="sankaku">
                <h2>新着情報</h2>
                <img src="../img/yajirusi_1.png" alt="矢印" loding="lazy">
            </div>
            <table>
                <tr>
                    <th>2021/06/01 【You Tube開設】</th>
                    <td>当店のイベントの様子の一部ををYouTubeで確認することができます。</td>
                </tr>
                <tr>
                    <th>2021/06/01 【You Tube開設】</th>
                    <td>当店のイベントの様子の一部ををYouTubeで確認することができます。</td>
                </tr>
                <tr>
                    <th>2021/06/01 【You Tube開設】</th>
                    <td>当店のイベントの様子の一部ををYouTubeで確認することができます。</td>
                </tr>
                <tr>
                    <th>2021/06/01 【You Tube開設】</th>
                    <td>当店のイベントの様子の一部ををYouTubeで確認することができます。</td>
                </tr>
                <tr>
                    <th>2021/06/01 【You Tube開設】</th>
                    <td>当店のイベントの様子の一部ををYouTubeで確認することができます。</td>
                </tr>
            </table>
        </div>
        <!--コンテンツ5(新着情報)ここまで-->

        <!--コンテンツ6(会社概要)ここから-->
        <div id="company_profile" class="company_profile">
            <div class="company_profile_box">
                <div class="sankaku">
                    <h2>会社概要</h2>
                    <img src="../img/yajirusi_2.png" alt="矢印" loding="lazy">
                </div>
                <div class="company_profile_contens">
                    <div class="company_profile_tel">
                    <p>〒330-0845<br>
                        埼玉県さいたま市大宮区仲町2−２６<br>
                        富士ソフトビル5F<br>
                        Aloha a'ala<br>
                        TEL:000-0000-000<br>
                        営業時間：9:00〜23:00

                    </p>
                        <a class="reservation2" href="/">
                            ご予約・お問い合わせ
                        </a>
                    </div>
                
                    <div class="company_profile_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3231.7563425491367!2d139.6255399!3d35.9039828!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018c141cd483a29%3A0xee1368b1612f7b35!2zVEtQ5aSn5a6u44OT44K444ON44K544K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1624375740099!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!--コンテンツ6(会社概要)ここまで-->
        
        <!--コンテンツ7(お問合せrフォーム)ここから-->
        <div class="contact">
            <div class="sankaku">
                <h2>お問い合わせ</h2>
                <img src="../img/yajirusi_2.png" alt="矢印" loding="lazy">
            </div>
            <div class="form">
            <form action="">
                <table>
                    <tr class="form_box">
                        <th class="form_item">氏名</th>
                        <td class="form_input">
                            <input type="text" placeholder="例）山田太郎">
                        </td>
                    </tr>
                    <tr class="form_box">
                        <th class="form_item">フリガナ</th>
                        <td class="form_input">
                            <input type="text" placeholder="例）ヤマダタロウ">
                        </td>
                    </tr>
                    <tr class="form_box">
                        <th class="form_item">電話番号</th>
                        <td class="form_input">
                            <input type="tel" placeholder="例）000-0000-0000">
                        </td>
                    </tr>
                    <tr class="form_box">
                        <th class="form_item">メール</th>
                        <td class="form_input">
                            <input type="tel" placeholder="例）sample@yahoo.co.jp">
                        </td>
                    </tr>
                    <tr class="form_box">
                        <th class="form_item">質問内容</th>
                        <td class="form_input">
                            <input type="text" placeholder="例）質問内容をご記入ください。">
                        </td>
                    </tr>
                </table>
                <div class="form_bt">
                <button type="reset" class="bt">リセット</button>
                <button type="submit" class="bt">送信</button>
                </div>
            </form>
            
        </div>
        </div>
        <!--コンテンツ7(お問い合わせフォーム)ここまで-->

    </body>
    <footer>
        <div class="footer_logo">
            <img src="../img/a'ala_logo.png" alt="ALOHA a'alaロゴ">
        </div>
        <nav>
            <ul>
                <li><a href="#food_enjoy">食べる・楽しむ</a></li>
                <li><a href="#home_aloha">お家でアロハ</a></li>
                <li><a href="#shop">当店のこだわり</a></li>
                <li><a href="#news">新着情報</a></li>
                <li><a href="#company_profile">会社概要</a></li> 
            </ul>
        </nav>
        <p>Copyright © 2021 ALOHA a’ala.co.ltd</p>
    </footer>

</html>